* {
    margin: 0;
    padding: 0;
}


h3 {
    font-size: 18px;
    color: #f9faf8;
}


.header-background {
    height: 520px;
    background: red;
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px 40px 20px 40px;
    background: #1f2937;
   
    
}

.header-background a {
flex: 0 1 0%;
padding: 2px;
text-decoration: none;
color: white;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
     
}

.intro-heading {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    
}

.intro-text {
    padding: 10px 0 15px 0;
    color: #e5e7eb;
}

.intro-container button {
    padding: 4px 24px 4px 24px;
    background: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;

    
}

.heading-container {
    width: 25%;
    
}

.image-container {
    margin-top: 70px;
    
}

.image-container img {
    border-radius: 10px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0 40px 0;
    font-size: 36px;
    font-weight:900;
    color: #1f2937;
   
}

.info {
    padding: 0 100px 100px 100px;
}

.box-container {
    display: flex;
    flex-direction: column;

}

.box-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.box {
    border: 2px solid #3882f6;
    padding: 100px;
    border-radius: 10px;

}









